<div class="container flex-center">
  <div class="container__side-filter">
    <app-radio-button-filters class="pb-20" [filteredItems]="{list:cachedList, section: 'sector'}" (selectFilterEmit)="selectFilter($event)"></app-radio-button-filters>
    <app-radio-button-filters class="pb-20" [filteredItems]="{list:cachedList, section: 'country'}" (selectFilterEmit)="selectFilter($event)"></app-radio-button-filters>
    <app-radio-button-filters class="pb-20"  [filteredItems]="{list:cachedList, section: 'city'}" (selectFilterEmit)="selectFilter($event)"></app-radio-button-filters>

  </div>
  <div class="container__main">
    <div class="container__main--search pb-20">
      <input type="text" class="container__search" (input)="onSearch()" [(ngModel)]="inputText">
      <button class="container__btn" (click)="addNewFunc()">Add New Job</button>
    </div>
    <div class="container__card" *ngIf="jobListData">
      <app-job-card *ngFor="let item of jobListData" [jobData]="item" (deleteItem)="deleteJobItemFunc(item.id)" (viewDetails)="viewDetailsFun(item)"></app-job-card>
    </div>
    <div class="container__next" *ngIf="this.cachedList.length> 10">
      <button class="container__btn" (click)="navFun('previous')">
        previous
      </button>
      <button class="container__btn" (click)="navFun('next')">
        next
      </button>
    </div>
  </div>
</div>
<ng-container #modal></ng-container>
